.cart-component {
	padding: 20px 0px 20px 0px;

	.item-operation {
		@include red;
	}

	.item-detail {
		clear: both;
		background: #FFFFFF 0% 0% no-repeat padding-box;
		box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
		border-radius: 20px;
		opacity: 1;
		display: flex;
		flex-direction: row;
		justify-content: space-between;

		.card {
			padding: 0 !important;

			.banner {
				height: 252px;
				width: 100%;
				object-fit: cover;
				border-radius: 20px;
			}
		}

		.detail {
			padding: 20px;
			@include rubik(#3b3b3b, 28px);

			.row {
				overflow: hidden;
				display: flex;
				justify-content: space-between;

				.red {
					@include red;
				}
			}

			.total {
				position: absolute;
				bottom: 20px;
				@include red;
				width: 100%;
			}
		}
	}
}