.suggested {
	position: relative;
	padding: 20px 25px 20px 0;
	flex: 1;
	flex-grow: 0;
	flex-shrink: 0;

	.suggested-item {
		@include rubik(#3b3b3b, 28px);
		position: relative;
	}

	.suggested-price {
		@include rubik(#3b3b3b, 28px);
		position: relative;
		bottom: 5%;
	}

	.cart-button {
		@include red;
		position: absolute;
		bottom: 0;
		text-align: center;
		background: #FFFFFF 0% 0% no-repeat padding-box;
		box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
		border-radius: 20px;
		padding: 12px 86px 12px 86px;
	}
}