.dave {
	position: fixed;
	bottom: -10px;
	width: 100vw;
	z-index: 99;

	.ai {
		position: absolute;
		left: 0;
		width: 62%;
		height: 100%;
		padding: 20px;

		.ai-info {
			padding: 10px;
			@include rubik(#fff, 32px);

			img {
				margin-right: 10px;
				cursor: pointer;
			}
		}

		.ai-info2 {
			@include rubik(#fff, 28px);
			padding: 10px;
		}

		.ai-info3 {
			@include rubik(#fff, 24px);
			padding: 0 10px;
		}

		.ai-buttons {
			margin: 20px 0;
			display: flex;
			flex-direction: row;

			.ai-button {
				@include red;
				text-align: center;
				background: #FFFFFF 0% 0% no-repeat padding-box;
				box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
				border-radius: 20px;
				padding: 12px;
				margin-right: 16px;
				cursor: pointer;
			}
		}
	}

	// .avatar {
	// 	position: absolute;
	// 	right: 0;
	// 	width: 40%;
	// 	height: 100%;

	// 	.avatar-dave {
	// 		object-fit: cover;
	// 		height: 100%;
	// 		width: 100%;
	// 	}
	// }

}