.item {
	position: relative;
	padding: 20px;

	.banner {
		width: 100%;
		object-fit: cover;
		height: 315px;
		border-radius: 20px;
	}

	.discount {
		position: absolute;
		padding-left: 10px;
		padding-right: 10px;
		top: 35px;
		right: 45px;
		text-align: center;
		vertical-align: middle;
		line-height: 82px;
		color: #F54748;
		font-size: 20px;
		background: #FFFFFF 0% 0% no-repeat padding-box;
		border-radius: 20px;
		opacity: 1;
		z-index: 10;
	}

	.title {
		@include rubik(#fff, 32px);
		display: flex;
		justify-content: center;
		padding-top: 10px;
	}
}