.menu-section {
	.row {
		overflow-x: auto;
		white-space: nowrap;
	}
	.row > .col-xs-4 {
		display: inline-block;
		float: none;
	}
	.main {
		position: relative;
		clear: both;
		display: flex;
		padding-bottom: 50px;

		.heading {
			@include rubik(#fff, 60px);
			float: left;
			padding-left: 60px;
		}

		.line {
			display: inline-block;
			position: relative;
			top: 42.5px;
			left: 20.5px;
			height: 0px;
			width: 100%;
			border: 4px solid #FFFFFF;
			opacity: 1;
			flex: 1;
		}
	}
}