.menu-item {
	.banner {
		border: #fff 2px solid;
		border-radius: 20px;
		width: 100%;
	}

	.title {
		@include rubik(#fff, 28px);
		text-align: center;
		white-space: nowrap;
  		overflow: hidden;
  		text-overflow: ellipsis;
	}
}