@import '../mixin';
.page-bg {
	background: transparent $bg-img 0% 0% no-repeat padding-box;
	background-size: cover;
	background-attachment: fixed;
	.page {
		display: flex;
		justify-content: center;
		position:relative;
		height: 100%;
		opacity: 1;
		backdrop-filter:blur(5px);
		-webkit-backdrop-filter: blur(5px);
		.main-layout {
			padding: 20px;
			overflow: hidden;
			.content {
				padding: 20px;
				padding-bottom: 0px;
				.image {
					position: relative;
					border-radius: 100px;
					padding: 40px;
				}
				.info {
					text-align: left;
					@include rubik(#fff,60px);
					display: flex;
					flex-direction: row;
					padding: 20px;
					.btn {
						font-size: 41px;
						padding: 20px;
						background: #FFFFFF52 0% 0% no-repeat padding-box;
						border-radius: 92px;
					}
				}
			}
		}
	}
}