.pasta {
	padding: 20px;
	overflow: hidden;

	.banner {
		width: 100%;
		object-fit: cover;
		border: #fff 2px solid;
		border-radius: 20px;
	}

	.pasta-info {
		@include rubik(#fff, 38px);
	}

	.pasta-price {
		@include rubik(#fff, 28px);
	}

	.cart-button {
		@include red;
		text-align: center;
		background: #FFFFFF 0% 0% no-repeat padding-box;
		box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
		border-radius: 20px;
		padding: 20px;
		width: 100%;
	}
}