<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <link href='https://fonts.googleapis.com/css?family=Rubik:wght@400;500' rel='stylesheet'>
    <link href="../assets/styles.css" rel="stylesheet">
    <title><%= htmlWebpackPlugin.options.title %></title>    
    <script src="https://s3.ap-south-1.amazonaws.com/unity-plugin.iamdave.ai/unity/expo_new_build/ProjectBuild.loader.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="lib/sweetalert.min.js"></script>
    <script src="lib/socket.io.js"></script>
    <script src="lib/socket.stream.io.js"></script>
    <script src="lib/RecordRTC.js"></script>
    <script src="lib/flac-dep.js"></script>
    <script src="lib/cameraControls.js"></script>
    <script type="text/javascript" src="lib/vad.js"></script>
    <!-- <script src="conversation/source/unity_handler.js"></script>
    <script src="conversation/source/dave_utils.js"></script>
    <script src="conversation/source/daveservice.js"></script>
    <script src="conversation/source/conversation.js"></script>
    <script src="conversation/source/conversation_handler.js"></script> -->
    <script src="lib/conversation-plugin.js"></script>
    <style>
      .keyboard-wrapper{
        bottom: 4px !important;
        left: 20px;
        z-index: 999;
        background: aliceblue;
        padding-top: 2%;
      }
    </style>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <audio id="audio" type="audio/wav" src="" style="display: none" controls>
      Your browser does not support the HTML5 Audio element.
    </audio>
    <!-- built files will be auto injected -->

    <script src="../assets/Keyboardmain.js"></script>  
    <!-- <script src="https://cdn.jsdelivr.net/npm/mok-project@latest/dist/main.js"></script> -->
  </body>
</html>
