<template>
  <div
    class="cart"
    style="background: #e6e9f0 0% 0% no-repeat padding-box"
    v-if="!productAddonstatus"
  >
    <div style="padding: 40px 40px 0px 52px; height: 155px">
      <img src="@/assets/svg/Home_.svg" alt="Home" @click="home_action()" />
      <div
        class="final_"
        v-if="cart.total_amount != 0"
        @click="handle_dave('', 'cs_checkout')" 
      >
        <div class="btn_pay">
          <div style="font-size: 28px">Total Pay</div>
          <div>
            <b>{{ cart.total_amount }} $</b>
          </div>
        </div>
      </div>
    </div>
    <div class="cart-container">
      <div class="head">
        <b style="padding-left: 72px !important">Cart</b>
      </div>
      <div class="list-item">
        <CartComponent
          v-for="(item, index) in cart.items"
          :key="index"
          v-bind="item"
        />
        <div class="final" v-if="cart.items">
          <div class="total-final">
            <div style="font-size: 28px">Total</div>
            <div>
              <b>{{ cart.total_amount }} $</b>
            </div>
          </div>
        </div>
      </div>
      <div class="head" style="padding-top: 0px !important">
        <b style="font-size: 60px; padding-left: 62px !important"
          >Did you Forget</b
        >
      </div>
      <div class="suggested-items">
        <CartSuggestComponent
          v-for="(item, index) in cart.did_you_forget"
          :key="index"
          :imageName="item.image"
          :info="item.title"
          :price="item.price"
          :units="item.units"
          :p_id="item.product_id"
        />
      </div>
    </div>
  </div>
</template>

<script>
import CartComponent from "../components/CartComponent.vue";
import CartSuggestComponent from "../components/CartSuggestComponent.vue";
import { createNamespacedHelpers } from "vuex";
const { mapGetters } = createNamespacedHelpers("app");
import events from "@/plugins/DaveAI/events.type";
export default {
  name: "Cart",
  components: {
    CartComponent,
    CartSuggestComponent,
  },
  props: ["cartItems", "cartSuggestItems"],
  computed: {
    ...mapGetters({
      cart: "cart",
      productAddonstatus: "productAddonstatus",
    }),
  },
  created() {
    // this.$bus.$emit(events.CONVERSATION, {
    //   event: "cs_show_cart",
    //   value: "cs_show_cart",
    // });
  },
  methods: {
    handleShowOrder(btn) {
      if (btn === "REVIEW ORDER") {
        // this.$router.push("/review-order");
        this.$bus.$emit(events.CONVERSATION, {
          value: this.product_ids[0],
          event: "cs_cart",
        });
      }
    },
    home_action() {
      this.$bus.$emit(events.CONVERSATION, {
        event: "cs_home_button",
        value: "cs_home_button",
      });
      this.$store.dispatch("app/homeactionstatus", true);
    },
    handle_dave(event, val) {
      this.$bus.$emit(events.CONVERSATION, {
        event: event,
        value: val,
      });
      // this.$router.push(route)
    },
  },
  watch:{
    cart(){
      if(this.cart.total_amount == 0){
        this.$bus.$emit(events.CONVERSATION, {
          event: 'cs_menu',
          value: 'cs_menu',
        });
      }
    }
  },
  mounted() {
    this.$store.dispatch("dave/routehandle", false);
    this.$store.dispatch("dave/searchProcessingStatus", false);
    if (this.cart.total_amount == 0) {
      this.$bus.$emit(events.CONVERSATION, {
        value: "cs_empty_cart",
        event: "cs_empty_cart",
      });
    }
  },
};
</script>

<style  lang="scss" >
.cart-container {
  height: 63vh !important;
  padding: 0px 50px 50px 50px !important;
}
.cart-component {
  padding: 0px 0px 20px 0px;
}
.cart-container .list-item {
  padding: 0px 0px 0px 0px !important;
}
.cart-container .suggested-items {
  padding: 0px !important;
}
.cart-container .head {
  padding: 35px 0px 0px 0px !important;
}
// .row {
//     margin-right: 0px !important;
//     margin-left: 0px !important;
// }
.suggested {
  padding: 20px 20px 20px 0px;
}
.final .total-final {
  font-family: "Rubik";
  color: #f54748;
  font-size: 45px;
  letter-spacing: 0px;
  opacity: 1;
  text-align: center;
  vertical-align: middle;
  background:  #fff 0% 0% no-repeat padding-box;
  border-radius: 20px;
  opacity: 1;
  padding: 38px 0px 0px 0px;
  text-align: center;
  width: 275px !important;
  height: 172px !important;
}
.final {
  text-align: -webkit-right;
  padding: 0px 0px 0px 0px !important;
}
.final_ {
  padding: 0px 0px 0px 0px !important;
  display: inline-block;
  float: right;
}
.btn_pay {
  font-family: "Rubik";
  color: #fff;
  font-size: 35px;
  letter-spacing: 0px;
  opacity: 1;
  text-align: center;
  vertical-align: middle;
  background: #f54748 0% 0% no-repeat padding-box;
  border-radius: 20px;
  opacity: 1;
  padding: 13px 0px 7px 0px;
  text-align: center;
  width: 260px !important;
  height: 110px !important;
  display: inline-block;
}
</style>
