<template>
  <div class="italian-bg" v-if="!this.$store.state.app.productAddonStatus">
    <div class="italian-page">        
      <div class="page-head" style="height: auto !important;">  
        <page-header />
        <!-- <div class="cart-svg"> -->
          <!-- <img src="../assets/svg/Cart.svg" alt="Cart" @click="cart($event)" /> -->
          <!-- <img src="../assets/svg/Cart.svg" alt="Cart" />
          <div class="item-counter" v-if="cartItemsCount > 0">
            <b>{{ cartItemsCount }}</b>
          </div>
        </div> -->
        <div class="main">
          <b>{{ category.template_title }}</b>
        </div>
      </div>
      <div class="italian-layout">
        <div class="items row">
          <Pasta
            v-for="(item, index) in even(category.category)"
            :key="index"
            :ids="item.product_id"
            :filename="item.image"
            :title1="item.title"
            :price="item.price"
            :units="item.units"
            :item_number="item.item_number"
          />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { createNamespacedHelpers } from "vuex";
import events from "@/plugins/DaveAI/events.type";
const { mapState } = createNamespacedHelpers("app");
const { mapGetters } = createNamespacedHelpers("menu");
import Pasta from "../components/PastaItem.vue";
import PageHeader from '@/components/Dave/Header.vue'
export default {
  name: "Category",
  components: {
    Pasta,PageHeader
  },
  props: ["pastaItems"],  
  computed: {
    ...mapState({
      cartItemsCount: "cartItemsCount",
    }),
    ...mapGetters({
      category:"category"
    }),
  },
  methods: {
    cart: function (event) {
      this.$bus.$emit(events.CONVERSATION, {
        value: this.product_ids[0],
        event: "cs_cart",
      });
    },  
     even: function(arr) {      
      return arr.slice().sort(function(a, b) {
        return a.item_number - b.item_number;
      });
    }     
  },
  mounted(){
    this.$store.dispatch('dave/routehandle',false);
    this.$store.dispatch('dave/searchProcessingStatus',false);
  }
};
</script>

<style lang='scss'>
.main{
    text-align: center !important;
    font-size: 80px !important;  
}
.pasta {
    padding: 0px 20px 30px 0px !important;
    width: 500px !important;
}
.pasta .pasta-info{
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  overflow: hidden;
  height: 108px;
}
</style>