<template>
  <div class="page-bg" v-if="!this.$store.state.app.productAddonStatus">
    <div class="page">
      <div class="main-layout">
        <carousel
          :per-page="1"
          :mouse-drag="true"
          :paginationEnabled="false"
          loop
          autoplay
        >
          <slide v-for="(item, index) in slides" :key="index">
            <div class="main-image" :style="{ backgroundImage: 'url('+ item.image_url +')',position:'relative' }" @click="action_item(item.product_ids)">
              <center>
              <div style="background: rgba(0, 0, 0, 0.5);color: #f1f1f1;border-radius: 3%;width: 80%;">
                <h1 style="font-size: 80px;color: azure;text-align: center;margin:0px">{{item.advert_name}}</h1>
              </div>
              </center>
              <div class="label_">
                <p class="price_" >{{ item.price.toFixed(1) }} $</p>
                <img src="@/assets/img/logo_12.png" class="label_icon" style="max-width: 216px; box-shadow: 0 28px 32px -32px black;" />
              </div>
              
              <!-- <img
                class="banner"
                :src="item.image_url"
              />
              <div
                style="position: absolute; top: 0"
                :class="{ light: isLight, titles: !isLight }"
              >
                <div class="main-title">
                  <b>{{ item.advert_name }}</b>
                </div>
                <div class="subtitle">
                  {{ item.subtitle }}
                </div>
              </div> -->
            </div>
          </slide>
        </carousel>
        <div class="content mb-4">
          <div class="info">
            <b>Trending</b>
            <menu-button />
          </div>
          <div class="items row">
            <Item
              v-for="(item, index) in trending"
              :key="index"
              v-bind="item"              
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import events from "@/plugins/DaveAI/events.type";
import Item from '@/components/Item.vue'
import MenuButton from '@/components/Dave/MenuButton.vue'
import * as constants from '@/store/dave/dave.constants'
import { Carousel, Slide } from 'vue-carousel'
import { createNamespacedHelpers } from 'vuex'
const { mapGetters, mapActions } = createNamespacedHelpers('menu')

export default {
  name: "Home",
  components: {
    Item,
    Carousel,
    Slide,
    MenuButton,
  },
  computed: {
    ...mapGetters(['trending']),
    slides() {
      return this.trending.slice(0, 10);
    },
  },  
  methods: {
    ...mapActions({
      updateTrendingItems: 'trending'
    }),
    action_item(product_ids){
      if (product_ids.length == 1) {
        this.$bus.$emit(events.CONVERSATION, {
          value: product_ids[0],
          event: "cs_dish",
        });
      }
    }  
  },
  created() {
    this.$service.list("advert", {}, (data) => {
      this.updateTrendingItems(data.data)
    },(error) => {
      console.log(error)
    })
  },
  mounted(){
    this.$store.dispatch('dave/hints', constants.hints)
    this.$store.dispatch('dave/showButtonStatus', false)  
  }
};
</script>

<style scoped>
.label_{
  position: absolute;
  bottom: 5%;
  /* right: 5%; */
}
.price_{
    margin: 0;
    top: 28%;
    font-size: 38px;
    width: 75% !important;
    z-index: 99;
    color: white;
    /* right: 32%; */
    position: absolute;
    /* transform: rotate(-44deg); */
    /* transform-origin: 127% 37%; */
    /* transform-origin: 121% 54%; */
    text-align: center;
}
</style>