<template>
  <div class="italian-bg">
    <div class="italian-page">
      <div class="page-head">
        <div class="cart-svg">
          <img
            src="../assets/svg/Cart.svg"
            alt="Cart"
            @click="$router.push('/cart')"
          />
          <div class="item-counter" v-if="cartItemsCount > 0">
            <b>{{ cartItemsCount }}</b>
          </div>
        </div>
        <div class="main">
          <b>{{ data.template_title }}</b>
        </div>
      </div>
      <div class="italian-layout">
        <div class="items row">
          <Pasta
            v-for="(item, index) in pastaItems"
            :key="index"
            :filename="item.filename"
            :title1="item.title1"
            :price="item.price"
            :units="item.units"
          />
        </div>
      </div>
      <!-- <Dave
        dave_asked='Say "Hi Dave" or Tap to speak'
        :try_saying="[
          '&quot;Hi Dave, I want to order a burger&quot;',
          '&quot;Dave, I feel like having something sweet&quot;',
          '&quot;Dave, Add Classic italian spaghetti&quot;',
        ]"
        :buttons="['Explore Menu', 'Trending', 'Show More']"
      /> -->
    </div>
  </div>
</template>

<script>
import { createNamespacedHelpers } from "vuex";
const { mapState } = createNamespacedHelpers("app");
import Pasta from "../components/PastaItem.vue";
// import Dave from "../components/Dave.vue";
export default {
  name: "ItalianClassicPastas",
  components: {
    Pasta,
    // Dave,
  },
  props: ["pastaItems"],
  computed: {
    ...mapState({
      cartItemsCount: "cartItemsCount",
    }),
  },
};
</script>

<style lang='scss'>
</style>