<template>
  <div class="menu-bg" v-if="!this.$store.state.app.productAddonStatus">
    <div class="menu-page">
      <page-header />
      <div class="menu-layout">
        <MenuSection
          v-for="(section, index) in menu"
          :key="index"
          :heading="section.title"
          :items="section.menu_items"
        />
      </div>
    </div>
  </div>
</template>

<script>
import { createNamespacedHelpers } from 'vuex'
import MenuSection from '@/components/MenuSection.vue'
import PageHeader from '@/components/Dave/Header.vue'
const { mapGetters } = createNamespacedHelpers('menu')
export default {
  name: "Menu",
  components: {
    MenuSection, PageHeader
  },
  computed: {
    ...mapGetters({
      menu: 'menu'
    })
  },
  mounted(){
    this.$store.dispatch('dave/showButtonStatus', 'menu')  
    this.$store.dispatch('dave/routehandle',false);
    this.$store.dispatch('dave/searchProcessingStatus',false);
  },
  watch:{
    menu(){
      $('.menu-layout').scrollTop(0);
    }
  }
};
</script>
