<template>
  <div class="order-detail">
    <div class="layout">
      <div class="content">
        <div class="card">
          <div
            style="
              width: 100%;
              height: 60px;
              margin-bottom: 15px;
              padding-right: 30px;
            "
          >
            <img
              src="@/assets/svg/close.png"
              width="50px"
              style="float: right"
              @click="addon_close"
            />
          </div>
          <div class="description">
            <b> {{ product.title }} </b>
            <div>
              {{ product.product_description }}
            </div>
          </div>
          <hr />
          <div class="quantity">
            <b>Quantity</b>
            <div class="quantity-type">
              <div v-for="i in qualities" :key="i.quantity_id">
                <div class="row">
                  <input
                    type="radio"
                    :id="i.quantity_id"
                    v-model="quantity_data"
                    :value="i.quantity_id"
                  />
                  &ensp;
                  <label :for="i.quantity">{{ i.quantity }}</label
                  >&ensp;
                  <div class="red">{{ i.price }} {{ product.units }}</div>
                </div>
              </div>
              <p
                v-if="error != ''"
                style="
                  color: #f54748;
                  margin: 10px 0px 0px 0px;
                  padding-bottom: 4px;
                "
              >
                {{ error }}
              </p>
              <div style="margin-top: 2%">
                <label style="display: inline">quantity</label>&ensp;
                <img
                  src="@/assets/img/subtract.png"
                  @click="removeitems()"
                  style="display: inline; margin-right: 20px; width: 42px"
                />
                <h3 style="display: inline; font-size: 38px">
                  {{ countItems }}
                </h3>
                <img
                  src="@/assets/img/plus.jpg"
                  @click="additems()"
                  style="display: inline; margin-left: 20px; width: 42px"
                />
              </div>
            </div>
          </div>
          <hr />
          <div class="add-ons">
            <b>Add-Ons</b>
            <div
              class="extra"
              style="height: 11vh; overflow-x: hidden; overflow-y: auto"
            >
              <div v-for="x in addons" :key="x.addon_id" style="width: 80%">
                <div class="row">
                  <input
                    type="checkbox"
                    :id="x.addon_name"
                    v-model="item_addon_id"
                    :value="x.addon_id"
                    @click="getaddon(x.price)"
                  />&ensp; <label :for="x.addon_name">{{ x.addon_name }}</label
                  >&ensp;
                  <div class="red">{{ x.price }} {{ product.units }}</div>
                </div>
              </div>
            </div>
          </div>
          <div class="order-total">
            <div class="total-final" @click="add">
              <div>
                <b
                  >Total : {{ qualities[0].price * countItems + addon_price
                  }}{{ product.units }}</b
                >
              </div>
              <div><b>ADD ITEM</b></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import events from "@/plugins/DaveAI/events.type";
import * as constants from "@/store/dave/dave.constants";
import { createNamespacedHelpers } from "vuex";
const { mapGetters } = createNamespacedHelpers("dave");
const { mapState } = createNamespacedHelpers("app");
export default {
  name: "Product",
  props: ["data"],
  data() {
    return {
      quantity_model: "",
      quantity_data: "",
      countItems: 1,
      error: "",
      data_: [],
      item_addon_id: [],
      addon_price: 0,
      menu_status:true
    };
  },
  methods: {
    dave() {
      this.data_ = this.$route.params;
      if (JSON.stringify(this.data_) !== JSON.stringify({})) {
        this.$store.dispatch("dave/hints", this.data_.data.try_saying);
        this.$store.dispatch("dave/showButtonStatus", this.data_.data.template);
      } else {
        this.$store.dispatch("dave/hints", constants.hints);
        this.$store.dispatch("dave/showButtonStatus", false);
      }
      this.$store.dispatch("dave/avatartext", false);
    },
    add() {
      let addon_aray = [];
      this.item_addon_id.forEach((value, index)  => {
        let val_arry = '"'+value+'"';
        addon_aray.push(val_arry)
      });
      if (this.quantity_data == "") {
        this.error = "please select quantity required..!";
        return;
      }
      if (this.totalquantity != 0) {
        // this.$store.dispatch('dave/menuStatus',false);
        this.menu_status = false;
      }
      this.dave();
      this.$bus.$emit(events.CONVERSATION, {
        event: "cs_add",
        value:
          '{"quantity_id":"' +
          this.quantity_data +
          '","addon_id":[' +
          addon_aray +
          '],"total_number":"' +
          this.countItems + 
          '","menu":"'+ this.menu_status +'"}',
      });
      this.$store.dispatch("app/productAddonStatus", false);
      this.$store.dispatch("dave/quantityAddon", false);
      // this.$store.dispatch('dave/totalquantity', 0);
    },
    addon_close() {
      this.dave();
      this.$store.dispatch("app/productAddonStatus", false);
      this.$store.dispatch("dave/quantityAddon", false);
    },
    additems() {
      this.countItems += 1;
      this.$store.dispatch("dave/quantityAddon", true);
    },
    removeitems() {
      this.countItems -= 1;
      this.$store.dispatch("dave/quantityAddon", true);
    },
    getaddon(price) {
      this.addon_price = price;
    },
    setTotalItems() {
      setTimeout(() => {
        if (this.totalquantity == 0 && this.quantity_data != "") {
          this.countItems = 1;
        } else if (this.quantity_data == "") {
          this.countItems = 1;
        } else {
          this.countItems = this.totalquantity;
        }
      }, 200);
    },
  },
  mounted() {
    this.setTotalItems();
    var qty = this.productAddon.quantities.find(
      (data) => data.quantity == "regular"
    );
    this.quantity_data = qty.quantity_id;
    if (
      this.addons.length == 0 &&
      this.qualities.length == 1 &&
      this.totalquantity == 0
    ) {
      // this.add();
      this.addon_close();
    }
    if (this.totalquantity != 0) {
      this.cart.items.find((data) => {
        if (data.addons != null && data.product_id == this.product.product_id) {
          data.addons.forEach((value, index)  => {
           this.item_addon_id.push(value.addon_id);
          })
        }
      });
    }
  },
  computed: {
    ...mapGetters({
      productAddon: "productAddon",
      quantityAddon: "quantityAddon",
      totalquantity: "totalquantity",
      menuStatus: "menuStatus"
    }),
    ...mapState({
      cart: "cart",
    }),
    product() {
      // console.log(this.data.product[0]);
      return this.productAddon.product;
    },
    qualities() {
      return this.productAddon.quantities;
    },
    addons() {
      return this.productAddon.addons;
    },
  },
  watch: {
    countItems() {
      if (this.countItems < 1) {
        this.countItems = 1;
      }
    },
    quantity_data(val) {
      if (val != "") {
        this.error = "";
        this.countItems = 1;
      }
    },
  },
};
</script>

<style>
.order-detail:first-letter {
  text-transform: capitalize;
}
.quantity-type {
  text-transform: capitalize;
}
.order-detail .layout .content .card {
  padding: 55px 40px 40px 40px !important;
}
</style>
