<template>
  <div class="review-order">
     <div class="review_home" @click="$router.push('/')">
        <img
          src="@/assets/svg/Home_.svg"
          alt="Home"
        />
      </div>
    <div class="review-container">     
      <div class="head">
        <b>Review Order</b>
      </div>
      <div class="list-item">
        <CartComponent
          v-for="(item, index) in reviewOrderItems.cart.items"
          :key="index"
          :image="item.image"
          :title="item.title"
          :total_number="item.total_number"
          :price="item.price"
          :units="item.units"
          :addons="item.addons"
        />
      </div>
      <div class="final">
        <div class="total-final">
          <div>Total</div>
          <div>
            <b>{{ reviewOrderItems.cart.total_amount }} $</b>
          </div>
        </div>
      </div>
    </div>
    <!-- <Dave
      dave_asked='Say "Hi Dave" or Tap to speak'
      :try_saying="[
        '&quot;Dave, I would like to do a Online Payment.&quot;',
        '&quot;Dave, I would like to Pay at Counter.&quot;',
      ]"
      :buttons="['Pay Online', 'Pay at Counter']"
      @handleChild="handlePayOnline($event)"
    /> -->
    <!-- <button @click="handlePayOnline($event)">Pay Online</button>
    <button @click="handlePayOnline($event)">Pay at Counter</button> -->
  </div>
</template>

<script>
import events from '@/plugins/DaveAI/events.type';
import CartComponent from "../components/CartComponent.vue";
import { createNamespacedHelpers } from "vuex";
const { mapGetters } = createNamespacedHelpers("app");
// import Dave from "../components/Dave.vue";
export default {
  name: "ReviewOrder",
  props: ["units", "cartItems"],
  components: {
    CartComponent,
    // Dave,
  },
  computed:{
    ...mapGetters({
      reviewOrderItems:"reviewOrderItems",
    }),
  },
  methods: {
    handlePayOnline(btn) {
      if (btn === "Pay Online") {
        // this.$router.push("/scan-and-pay");
        this.$bus.$emit(events.CONVERSATION, {
          value: this.product_ids[0],
          event: 'cs_checkout'
        })
      }
    },
  },
  mounted(){
    this.$store.dispatch('dave/routehandle',false);
  }
};
</script>

<style lang='scss'>
.review-container .head{
  padding: 35px 0px 0px 122px !important;
}
.review-container .final .total-final{
    width: 275px !important;
    height: 172px !important;
}
.review-container .final{
  padding: 5px 50px 30px 0px !important;
}
.cart-component{
  padding: 0px 0px 20px 0px !important;
}
.review-container{
  height: 65vh !important;
  background:#E6E9F0 0% 0% no-repeat padding-box !important;
}
.review_home{
    padding: 45px 0px 0px 52px !important;
    background: #E6E9F0 0% 0% no-repeat padding-box !important;
}
</style>