<template>
  <div>
    <div class="bg_home" v-show="show_box">
      <div class="box">
        <h1>Continue with</h1>
        <!-- <p>(You have {{logout_time}} Second After Logout)</p>  -->
        <div style="margin-top: 3%">
          <button @click="action_try()">Try Again</button>
          <button @click="action_logout()">Logout ({{ logout_time }}s)</button>
        </div>
        <!-- <button class="btn_try" @click="action_try()">Try Again</button>
        <button class="btn_try"  @click="action_logout()">logout ({{logout_time}})</button> -->
      </div>
    </div>
    <div class="scan-and-pay">
      <div class="heading">
        <b>Scan and Pay</b>
        <p style="margin: 0px">(Total {{ this.cart.total_amount }} $)</p>
      </div>
      <div class="qr-outside">
        <div class="qr">
          <img
            src="https://general-iamdave-mumbai.s3.ap-south-1.amazonaws.com/dave_restaurant/QR+code/qr+code.png"
            width="500"
            height="500"
          />
        </div>
      </div>
      <div class="time-head">
        <b>Time out in</b>
      </div>
      <div class="time">
        <b>{{ min }}:{{ ("0" + second).slice(-2) }}</b>
      </div>
    </div>
  </div>
</template>

<script>
import events from "@/plugins/DaveAI/events.type";
import { createNamespacedHelpers } from "vuex";
const { mapGetters } = createNamespacedHelpers("app");

export default {
  name: "ScanAndPay",
  computed: {
    ...mapGetters({
      cart: "cart",
    }),
  },
  data() {
    return {
      second: 10,
      min: "01",
      show_box: false,
      logout_time: 10,
      a: null,
      show_count: 0,
    };
  },
  methods: {
    countDownTimer() {
      if (this.second > 0) {
        setTimeout(() => {
          this.second -= 1;
          this.countDownTimer();
        }, 1000);
      }
    },
    countDownTimer_logout() {
      if (this.logout_time > 0) {
        this.a = setTimeout(() => {
          this.logout_time -= 1;
          this.countDownTimer_logout();
        }, 1000);
      }
    },
    action_try() {
      this.show_count += 1;
      (this.second = 10), (this.min = "01");
      this.logout_time = 10;
      this.show_box = false;
      clearTimeout(this.a);
      this.countDownTimer();
      this.$bus.$emit(events.CONVERSATION, {
        event: "cs_checkout",
        value: "cs_checkout",
      });
      //need to do postconversion  --cs_checkout
    },
    action_logout() {
      this.countDownTimer_logout();
    },
  },
  watch: {
    second() {
      if (this.second == 1 && this.min != 0) {
        this.second = 10;
        this.min = "00";
      }
      if (this.second == 0 && this.min == 0) {
        this.show_box = true;
        this.action_logout();
        // this.$bus.$emit(events.SESSION_EXPIRED);
        // this.$bus.$emit(events.SESSION_EXPIRED, {});
      }
    },
    logout_time() {
      if (this.logout_time == 0) {
        this.$store.dispatch("app/counter", 0);
        this.$bus.$emit(events.CONVERSATION, {});
        this.$bus.$emit(events.SESSION_EXPIRED);
      }
    },
    show_count() {
      if (this.show_count == 3) {
        this.$store.dispatch("app/counter", 0);
        this.$bus.$emit(events.CONVERSATION, {});
        this.$bus.$emit(events.SESSION_EXPIRED);
      }
    },
  },
  created() {
    this.countDownTimer();
  },
  mounted() {
    this.$store.dispatch("dave/showButtonStatus", "scan-and-pay");
    this.$store.dispatch("dave/routehandle", false);
  },
};
</script>

<style>
.btn_try {
  font-family: "Rubik";
  color: #ffffff;
  font-size: 28px;
  letter-spacing: 0px;
  opacity: 1;
  text-align: center;
  background: #777575 0% 0% no-repeat padding-box;
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 20%);
  border-radius: 20px;
  padding: 12px;
  margin-right: 2%;
  margin-top: 2%;
  cursor: pointer;
  width: 250px !important;
  height: 73px !important;
}
.bg_home div button {
  width: 243px !important;
}
.bg_home {
  z-index: 1;
  width: 100%;
  height: 100vh;
  position: absolute;
  color: white;
  background: #4d4b4be3 0% 0% no-repeat padding-box;
  opacity: 1;
  backdrop-filter: blur(25px);
  font-size: 54px;
}
.box {
  position: relative;
  text-align: center;
  top: 525px;
}
</style>