<template>
  <div class="header">
    <div class="action" @click="home_action()">
      <img src="@/assets/svg/Home.svg" alt="Home" />
    </div>
    <div class="action" @click="handle">
      <div v-if="totalCartItems" class="indicator">
        <div>
          {{ totalCartItems }}
        </div>
      </div>
      <img src="@/assets/svg/Cart.svg" alt="Cart" />
    </div>
  </div>
</template>

<script>
import { createNamespacedHelpers } from "vuex";
import events from "@/plugins/DaveAI/events.type";
const { mapGetters } = createNamespacedHelpers("app");

export default {
  name: "PageHeader",
  methods: {
    handle() {
      if (this.totalCartItems == 0) {
        this.$bus.$emit(events.CONVERSATION, {
          value: "cs_empty_cart",
          event: "cs_empty_cart",
        });
      } else {
        this.$bus.$emit(events.CONVERSATION, {
          event: "cs_show_cart",
          value: "cs_show_cart",
        });
      }
    },
    home_action() {
      this.$bus.$emit(events.CONVERSATION, {
        event: "cs_home_button",
        value: "cs_home_button",
      });
      this.$store.dispatch("app/homeactionstatus", true);
    },
  },
  computed: {
    ...mapGetters(["totalCartItems"]),
  },
};
</script>

<style lang="scss" scoped>
.header {
  height: 8vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .action {
    margin: 50px;
  }

  .indicator {
    position: relative;

    div {
      color: white;
      font-size: 2.5rem;
      position: absolute;
      top: -24px;
      right: 15px;
      border-radius: 50%;
      padding: 8px;
      background-color: red;
    }
  }
}
</style>
