<template>
  <button class="btn" @click="handle">
    <img src="@/assets/svg/Menu.svg" /><b>Explore Menu</b>
  </button>
</template>

<script>
import events from '@/plugins/DaveAI/events.type';
export default {
  name: "MenuButton",
  methods: {
    handle() {
      this.$bus.$emit(events.CONVERSATION, {
        event: 'cs_menu',
        value: 'cs_menu'
      })
    },
  }
};
</script>
