.cart-container {
	position: relative;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	overflow: scroll;
	height: 71vh;

	.head {
		padding: 30px 0px 0px 80px;
		@include rubik(#3E3E3E, 80px);
	}

	.list-item {
		padding: 0px 60px 0px 60px;
	}

	.suggested-items {
		padding: 60px;
		display: flex;
		overflow-x: scroll;
	}
}