@import '../mixin';

.page-bg {
	position: relative;
	background: transparent $bg-img 0% 0% no-repeat padding-box;
	background-size: cover;
	background-attachment: fixed;

	.page {
		display: flex;
		justify-content: center;
		position: relative;
		backdrop-filter: blur(5px);

		.list-enter-active,
		.list-leave-active {
			transition: opacity .5s;
		}

		.list-enter,
		.list-leave-to {
			opacity: 0;
		}

		.main-layout {
			position: relative;
			padding: 20px;
			height: 100vh;
			overflow-y: scroll;

			.main-image {
				justify-content: space-around;
				padding: 45px;
				object-fit: cover;
				width: 100%;
				height: 990px;
				background-size: cover;
				border-radius: 50px;

				.titles {
					text-align: center;
					width: 100%;
					padding: 14%;
					padding-top: 7%;

					.main-title {
						@include rubik(#fff, 60px);
					}

					.subtitle {
						@include rubik(#fff, 38px);
					}
				}

				.light {
					position: absolute;
					text-align: center;
					padding: 14%;
					padding-top: 7%;

					.main-title {
						@include rubik(#000, 60px);
					}

					.subtitle {
						@include rubik(#000, 38px);
					}
				}

				.banner {
					width: 100%;
					height: auto;
					border-radius: 50px;
				}
			}

			.content {
				padding: 20px;
				padding-bottom: 0px;
				margin-bottom: 29vh;

				.info {
					@include rubik(#fff, 60px);
					display: flex;
					width: 100%;
					flex-direction: row;
					justify-content: space-between;
					align-items: center;
					padding: 20px 0;

					.btn {
						font-size: 41px;
						padding: 20px;
						background: #FFFFFF52 0% 0% no-repeat padding-box;
						border-radius: 92px;
					}
				}
			}
		}
	}
}