.italian-bg {
	position: relative;
	overflow: auto;
	background: transparent $bg-img 0% 0% no-repeat padding-box;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-attachment: fixed;

	.italian-page {
		position: relative;
		min-height: 100vh;
		opacity: 1;
		backdrop-filter: blur(5px);
		-webkit-backdrop-filter: blur(5px);

		.page-head {
			height: 13vh;

			.cart-svg {
				float: right;
				padding-top: 50px;
				padding-right: 50px;

				.item-counter {
					position: absolute;
					top: 25px;
					right: 60px;
					padding: 12px 16px 12px 16px;
					@include rubik(#fff, 21px);
					background: #F54748 0% 0% no-repeat padding-box;
					border-radius: 95%;
				}
			}

			.main {
				clear: both;
				@include rubik(#fff, 50px);
				display: flex;
				justify-content: center;
			}
		}

		.italian-layout {
			padding: 20px;
			height: 58vh;
			overflow-y: scroll;

			.items {
				padding: 30px;
			}
		}
	}
}