.menu-bg {
	position: relative;
	overflow: auto;
	background: transparent $bg-img 0% 0% no-repeat padding-box;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-attachment: fixed;

	.menu-page {
		position: relative;
		min-height: 100vh;
		overflow: scroll;
		height: 100%;
		opacity: 1;
		backdrop-filter: blur(5px);
		-webkit-backdrop-filter: blur(5px);

		.menu-layout {
			padding: 50px;
			height: 63vh;
			overflow-y: scroll;

		}
	}
}