.order-detail {
	position: relative;
	overflow: auto;
	min-height: 100vh;
	background: #4D4B4BE3 0% 0% no-repeat padding-box;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

	.layout {
		height: 71vh;

		.content {
			position: absolute;
			top: 100px;
			left: 50px;
			right: 50px;
			bottom: 100px;
			overflow: auto;
			backdrop-filter: blur(18px);
			-webkit-backdrop-filter: blur(18px);
			opacity: 1;
			display: flex;

			.card {
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 550px;
				@include rubik(#131313, 28px);
				padding: 80px 40px 40px 40px;
				background: #FFFFFF 0% 0% no-repeat padding-box;
				border-radius: 40px;
				opacity: 0.9;
				overflow: auto;

				.description {
					padding-left: 40px;
				}

				hr {
					margin-left: 40px;
					width: 95%;
					border: 1px solid #131313;
				}

				.quantity {
					padding-left: 40px;

					.quantity-type {
						@include rubik(#707070, 30px);
						padding-left: 15px;

						.row {
							padding-top: 10px;
							display: flex;
							flex-direction: row;

							.red {
								@include red;
							}
						}
					}
				}

				.add-ons {
					padding-left: 40px;

					.extra {
						padding-left: 15px;
						@include rubik(#707070, 30px);

						.row {
							padding-top: 10px;
							display: flex;
							flex-direction: row;

							.red {
								@include red;
							}
						}
					}
				}

				input[type=radio] {
					padding: 0.5em;
					-webkit-appearance: none;
					background: #FFFFFF 0% 0% no-repeat padding-box;
					border: 4px solid #F54748;
					border-radius: 10px;
					opacity: 1;
				}

				input[type=radio]:checked {
					display: inline-block;
					background-color: #F54748;
				}

				input[type=checkbox] {
					padding: 0.5em;
					-webkit-appearance: none;
					background: #FFFFFF 0% 0% no-repeat padding-box;
					border: 4px solid #F54748;
					border-radius: 10px;
					opacity: 1;
				}

				input[type=checkbox]:checked {
					display: inline-block;
					background-color: #F54748;
				}

				.order-total {
					position: absolute;
					left: 0;
					right: 0;
					bottom: 0;
					padding: 40px;

					.total-final {
						padding: 60px 40px 60px 40px;
						@include rubik(#fff, 28px);
						background: #F54748 0% 0% no-repeat padding-box;
						border-radius: 50px;
						opacity: 1;
						display: flex;
						flex-direction: row;
						justify-content: space-between;
						flex: 1;
						vertical-align: middle;
					}
				}
			}
		}
	}
}