.review-container {
	position: relative;
	height: 71vh;
	background: rgba(129, 129, 165, 0.4) 0% 0% no-repeat padding-box;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	overflow: scroll;

	.head {
		position: relative;
		@include rubik(#3E3E3E, 80px);
		padding: 30px 0px 0px 80px;
	}

	.list-item {
		position: relative;
		padding: 0px 60px 0px 60px;
	}

	.final {
		position: absolute;
		right: 0;
		padding: 35px;

		.total-final {
			@include rubik(#fff, 28px);
			text-align: center;
			vertical-align: middle;
			background: #F54748 0% 0% no-repeat padding-box;
			border-radius: 20px;
			opacity: 1;
			padding: 35px 55px 35px 55px;
		}
	}
}