.scan-and-pay {
	min-height: 100vh;
	padding-top: 5%;
	text-align: center;

	.heading {
		@include rubik(#1d1d1d, 50px);
		text-transform: uppercase;
		padding-bottom: 40px;
	}

	.qr-outside {
		padding: 0px 25% 0px 25%;

		.qr {
			border: 4px solid #1d1d1d;
			height: 522px;
		}
	}

	.time-head {
		padding-top: 30px;
		@include rubik(#1d1d1d, 50px);
	}

	.time {
		padding-top: 20px;
		@include rubik(#F54748, 50px);
	}
}