<template>
  <div class="suggested">
    <!-- <img :src="require(`@/assets/img/${imageName}`)" :alt="`${imageName}`" /> -->
    <img :src="imageName" style="width: 230px !important;height: 230px; !important" />
    <div class="suggested-item">
      {{ info }}
    </div>
    <div class="suggested-price">
      <p>
        <b>{{ price }} {{ units }}</b>
      </p>
    </div>
    <div class="cart-button" @click="handleClick(p_id)">
      <b>Add</b>
    </div>
  </div>
</template>

<script>
import events from "../plugins/DaveAI/events.type";

export default {
  name: "CardSuggest",
  props: ["imageName", "info", "price", "units", "p_id" ],
    methods: {
    handleClick(ids) {
      this.$store.dispatch('dave/menuStatus',false);
      this.$bus.$emit(events.CONVERSATION, {
        value: ids,
        event: "cs_dish",
      });
    },
  },
};
</script>

<style lang='scss'>
.suggested-item{
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  overflow: hidden;
  height: 80px;
}

</style>