<template>
  <div class="cart-component">
    <div class="item-operation row">
      <div
        class="col-xs-1 col-xs-offset-9 item_edits"
        @click="edit(product_id)"
      >
        <b>Edit</b>
      </div>
      <div class="col-xs-1" @click="remove(quantity_id)"><b>Delete</b></div>
    </div>
    <div class="item-detail row">
      <div class="card col-xs-4">
        <img class="banner" :src="image" />
      </div>
      <div class="detail col-xs-8">
        <div class="row">
          <div class="col-xs-7">
            <b>{{ title }}</b>
          </div>
          <div class="red col-xs-2">
            <b>X {{ total_number }}</b>
          </div>
          <div class="col-xs-3" style="padding-left: 43px">
            <!-- <b>{{ price * total_number }} {{ units }}</b> -->
            <b>{{ price }} {{ units }}</b>
          </div>
        </div>
        <!-- <div class="row">
          <div class="col-xs-9">
            <b v-if="addons != '' && addons != null">Adds-on</b>
          </div>
          <div class="col-xs-3" style="padding-left: 43px">
            <b v-if="addons != '' && addons != null"
              >{{ addons[0].price }} {{ units }}</b
            >
          </div>
        </div> -->
        <b style="display: block;" v-if="addons != '' && addons != null">Add-Ons</b>
        <div class="row" v-if="addons != '' && addons != null" style="height: 4vh;overflow: auto;">
          <div class="col-xs-9">
            <b style="display: block;" v-for="adds in addons" :key="adds.addon_id">{{adds.addon_name}}</b>                        
          </div>
          <div class="col-xs-3" style="padding-left: 43px">
            <b style="display: block;" v-for="adds_ in addons" :key="adds_.addon_id"
              >{{ adds_.price }} {{ units }}</b
            >            
          </div>
        </div>
        <div class="total row">
          <div class="col-xs-9"><b>Total</b></div>
          <div class="col-xs-3">
            <b  v-if="addons != '' && addons != null">              
              {{ (sumofaddon + price * total_number).toFixed(2) }}
              <b>{{ units }}</b>
            </b>
             <b  v-else>              
              {{ (price * total_number).toFixed(2) }}
              <b>{{ units }}</b>
            </b>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import events from "@/plugins/DaveAI/events.type";
export default {
  name: "CartComponent",
  props: [
    "image",
    "price",
    "product_id",
    "quantity",
    "quantity_id",
    "size",
    "sub_title",
    "title",
    "units",
    "total_number",
    "addons",
  ],
  methods: {
    remove(id) {
      this.$bus.$emit(events.CONVERSATION, {
        event: "cs_remove_from_cart",
        value: '{"quantity_id":"' + id + '"}',
      });
    },
    edit(ids) {
      this.$bus.$emit(events.CONVERSATION, {
        value: ids,
        event: "cs_edit",
      });
      this.$store.dispatch("dave/totalquantity", this.total_number);
    },
  },
  computed:{
    sumofaddon(){
      var addonsum = 0;
      this.addons.forEach((value,index)  => {
        addonsum += value.price;
      });
      return addonsum;
    }
  }
};
</script>

<style lang="scss">
.item_edits {
  margin: 0px 46px 17px 71% !important;
}
.cart-component .item-detail .detail .total {
  bottom: 13px !important;
}
</style>