<template>
  <div class="" v-bind:class="{ dave_: !avataridel, dave: avataridel }">
    <div class="ai">
      <div class="ai-info">
        <img
          v-if="!listingState"
          src="@/assets/svg/Ideal-Mic.svg"
          @click="$bus.$emit('__click')"
        />
        <img
          v-else
          src="@/assets/svg/imgpsh_.gif"
          @click="close_mic()"
          width="136"
          height="184"
        />

        <b
          v-if="!listingState && !searchProcessingStatus"
          style="position: absolute; top: 8%"
          >{{ dave_asked }}</b
        >
        <b v-if="searchProcessingStatus" style="position: absolute; top: 8%"
          >Processing...</b
        >

        <div v-if="listingState" style="position: absolute; display: inline">
          <b style="font-size: 41px">Listening...</b>
          <span style="display: block">Tap to stop recording</span>
        </div>

        <div
          v-if="!listingState"
          style="display: inline; position: absolute; top: 17%"
        >
          <span style="font-size: 18px"
            >You can edit, by tapping on the text</span
          >
          <input
            type="text"
            class="keyboard_input keyboard-input-field"
            placeholder="Hi Caitlyn,"
            @click="keyboard_status"
            v-model="listingText"
            value=""
          />
        </div>

        <b v-if="listingState" style="position: relative; top: 60px"
          >Hi Caitlyn,</b
        >
      </div>

      <div class="ai-info2">
        <b>Try saying</b>
      </div>

      <div
        class="ai-info3"
        v-for="(hint, index) in hints"
        :key="index"
        @click="handle_dave('', hint)"
      >
        <p style="margin: 0px">{{ hint }}</p>
      </div>

      <div class="ai-buttons" v-if="showButtonStatus == 'cart'">
        <div
          class="ai-button cart"
          v-if="totalCartItems != 0 || cart.total_amount != 0"
          @click="handle_dave('', 'cs_checkout')"
        >
          <b>Payment</b>
        </div>
      </div>
      <div class="ai-buttons" v-else-if="showButtonStatus == 'ReviewOrder'">
        <div class="ai-button btn-revieworder">
          <b>Pay Online</b>
        </div>
        <div class="ai-button btn-revieworder">
          <b>Pay at Counter</b>
        </div>
      </div>
      <div class="ai-buttons" v-else-if="showButtonStatus == 'menu'">
        <div class="ai-button btn-product" v-if="btn_status != 'drinks menu'"  @click="handle_dave('', 'drinks menu')">
          <b>Drinks</b>
        </div>
        <div
          class="ai-button btn-product" v-if="btn_status != 'main course menu'"
          @click="handle_dave('', 'main course menu')"
        >
          <b>Main course</b>
        </div>
        <div class="ai-button btn-product" v-if="btn_status != 'dessert menu'" @click="handle_dave('', 'dessert menu')">
          <b>Desserts</b>
        </div>
        <div class="ai-button btn-product" v-if="btn_status != 'combo menu'" @click="handle_dave('', 'combo')">
          <b>Combo</b>
        </div>
      </div>
      <div class="ai-buttons" v-else-if="showButtonStatus == 'category'">
        <div class="ai-button btn-product">
          <b>Italian Pasta</b>
        </div>
        <div class="ai-button btn-product">
          <b>Trending</b>
        </div>
        <div class="ai-button btn-product">
          <b>Show more</b>
        </div>
      </div>
      <div class="ai-buttons" v-else-if="showButtonStatus == 'product'">
        <div class="ai-button btn-product" @click="handle('cs_menu', '/menu')">
          <b>Explore Menu</b>
        </div>
        <div class="ai-button btn-product">
          <b>Trending</b>
        </div>
      </div>
      <div class="ai-buttons" v-else-if="showButtonStatus == 'scan-and-pay'">
        <div class="ai-button btn-product" @click="home_action()">
          <b>Home</b>
        </div>
        <div
          class="ai-button btn-product"
          @click="handle('cs_show_cart', '/cart')"
        >
          <b>Cancel</b>
        </div>
      </div>     
      <div class="ai-buttons" v-else-if="!showButtonStatus">
        <div class="ai-button" @click="handle('cs_menu', '/menu')">
          <b>Show Menu</b>
        </div>
        <div class="ai-button" @click="handle_dave('', 'main course')">
          <b>Main Course</b>
        </div>
      </div>
    </div>
    <!-- <SimpleKeyboard v-show="keyboard" @onChange="onChange"  :input="listingText" style=" position: absolute;
    top: 217px;left: 20px;width: 95%;right: 20px;bottom: 20px;z-index: 2"/> -->
    <img
      src="@/assets/img/img_avatar.png"
      v-show="!avataridel"
      style="float: right; width: 20%; position: relative; right: 5%; top: 11%"
    />
    <div class="text_show_avatar" v-if="avatartext">{{this.avatartext}}</div>
    <canvas
      id="unityContainer"
      class="unityContainer"
      v-show="avataridel"
      :style="{ width: width, right: '10%', position: 'relative' }"
    >
    </canvas>
  </div>
</template>

<script>
import { createNamespacedHelpers } from "vuex";
// import SimpleKeyboard from "../views/SimpleKeyboard.vue";
import events from "../plugins/DaveAI/events.type";
import languages from "../assets/keyboard/AddLanguages.js";
const { mapGetters } = createNamespacedHelpers("app");
const { mapState } = createNamespacedHelpers("dave");

export default {
  name: "Dave",
  props: ["dave_asked", "try_saying"],
  components: {
    // SimpleKeyboard
  },
  data() {
    return {
      loaded: false,
      idle: false,
      keyboard: false,
      input: "",
      listingText: "",
      width: "",
      input_keyboard: true,
      timer: 30,
      time:'',
      mic_close_status:0,
      btn_status:'combo menu',
    };
  },
  computed: {
    ...mapState({
      hints: "hints",
      listingState: "listingState",
      listingTextState: "listingTextState",
      showButtonStatus: "showButtonStatus",
      searchProcessingStatus: "searchProcessingStatus",
      avatartext:"avatartext"
    }),
    ...mapGetters({
      totalCartItems: "totalCartItems",
      avataridel: "avataridelstatus",
      cart: "cart",
    }),
    // listingText() {
    //   return this.listingTextState;
    // },
  },
  watch: {
    listingTextState() {
      if (!this.listingTextState) {
        this.listingText = "";
      } else {
        this.listingText = this.listingTextState;
      }
    },
    listingState() {
      if (!this.listingState) {
        setTimeout(() => {
          let keyborad_status = $('.keyboard-wrapper').css('display');          
          if(keyborad_status == 'none'){          
            this.listingText = "";
          }          
          this.onProcessingStop();
        }, 8000);
        if(this.mic_close_status == 0){
          this.$store.dispatch("dave/searchProcessingStatus", true);          
        }   
        this.mic_close_status = 0;     
      }
    },
    avatartext(){
     clearTimeout(this.time);
      this.time = setTimeout(() => {
           this.$store.dispatch("dave/avatartext", false);
      }, 20000);
    }
  },
  methods: {
    handle(command, route) {
      this.$bus.$emit(events.CONVERSATION, {
        event: command,
        value: command,
      });

      // this.$router.push(route)
    },
    handle_dave(event, val) {
      this.$bus.$emit(events.CONVERSATION, {
        event: event,
        value: val,
      });
      if(val == 'combo menu' || val == 'dessert menu' || val == 'main course menu' || val == 'drinks menu' ){
        this.btn_status = val
      }
      // this.$router.push(route)
    },
    home_action() {
      this.$bus.$emit(events.CONVERSATION, {
        event: "cs_home_button",
        value: "cs_home_button",
      });
      this.$store.dispatch("app/homeactionstatus", true);
    },
    onChange(input) {
      if (input == "Data Submit") {
        this.$store.dispatch("dave/searchProcessingStatus", true);
        if (this.listingText != "checkout" || this.totalCartItems != 0) {
          this.$bus.$emit(events.CONVERSATION, {
            event: "",
            value: this.listingText,
          });
        }
        this.keyboard_close();
        setTimeout(() => {
         let keyborad_status = $('.keyboard-wrapper').css('display');  
          if(keyborad_status == 'none'){          
            this.listingText = "";
          } 
          this.keyboard = false;          
          this.$store.dispatch("dave/searchProcessingStatus", false);
        }, 10000);
      } else {
        if (!input) {
          this.keyboard = false;
          this.keyboard_close();
          this.input_keyboard = true;
        } else {
          this.listingText = input;
        }
      }
    },
    close_mic(){
        this.mic_close_status = 1; 
        this.$store.dispatch('dave/updateListingTextState', false);
        this.$store.dispatch('dave/updateListingState', false);
        this.$store.dispatch('dave/searchProcessingStatus', false);
        this.$bus.$emit('__click')
    },
    keyboard_status() {
      this.keyboard = true;
      this.input_keyboard = false;
    },
    keyboard_close() {
      $(".keyboard-cancel-button").click();
    },
    onProcessingStop() {
      setTimeout(() => {
        this.$store.dispatch("dave/searchProcessingStatus", false);
      }, 6000);
    },
  },
  mounted() {
    const self = this;
    this.$bus.$on(events.CONVERSATION_LOADED, () => {
      self.loaded = true;
    });

    this.$bus.$on(events.IDLE, () => {
      self.idle = true;
    });
    this.width = 1.4 * window.innerWidth + "px";
    // this.idelTime();

    $(document).keyboard({
      language: languages,
      enterKey: function () {
       var key_board_val = localStorage.getItem("keyboard_val");
       if(key_board_val != ''){
         self.listingText = key_board_val;
         localStorage.setItem("keyboard_val", '');
       }
        self.onChange("Data Submit");
      },
      keyboardPosition: "bottom",
      directEnter: false,
      showSelectedLanguage: true,
      blackoutColor: "25, 25, 25, -1",
    });
  },
};
</script>

<style lang='scss'>
.unityContainer {
  background: transparent
    linear-gradient(
      0deg,
      #ebf0f9e5 0%,
      #edf0f6ee 1%,
      #f0f1f3f8 4%,
      #f1f1f2fd 8%,
      #f2f2f2 18%
    )
    0% 0% no-repeat padding-box;
  // width: var(--width);
  height: 570px;
}
.ai-buttons .ai-button {
  border-radius: 10px !important;
}
.keyboard-action-wrapper .keyboard-input-field {
  display: none !important;
}

.keyboard-wrapper {
  padding-top: 1% !important;
  bottom: -2px !important;
  width: 100% !important;
}
.keyboard-row {
  margin: 15px 0px 15px 0px !important;
  height: 43px !important;
}

.dave_ {
  position: fixed;
  bottom: -1%;
  width: 100vw;
  height: 570px !important;
  z-index: 99;
  background: #969696;
  display: block !important;

  .ai {
    position: absolute;
    left: 0;
    width: 62%;
    height: 100%;
    padding: 20px;

    .ai-info {
      padding: 10px;
      @include rubik(#fff, 32px);

      img {
        margin-right: 10px;
        cursor: pointer;
      }
    }

    .ai-info2 {
      @include rubik(#fff, 28px);
      padding: 10px;
    }

    .ai-info3 {
      @include rubik(#fff, 24px);
      padding: 1% !important;
    }

    .ai-buttons {
      margin: 20px 0;
      display: flex;
      flex-direction: row;

      .ai-button {
        @include red;
        text-align: center;
        background: #ffffff 0% 0% no-repeat padding-box;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
        border-radius: 20px;
        padding: 12px;
        margin-right: 16px;
        cursor: pointer;
      }
    }
  }
}

.dave .ai {
  z-index: 1;
  width: 71% !important;
}
.ai-buttons .cart {
  color: white !important;
  background: #f54748 !important;
  width: 498px !important;
  height: 73px !important;
  border-radius: 50px !important;
  text-transform: uppercase !important;
  letter-spacing: 0px !important;
  color: #fcfcfc !important;
  padding: 13px !important;
}
.ai-buttons .btn-revieworder {
  border-radius: 10px !important;
  width: 247px !important;
  height: 73px !important;
  padding: 13px !important;
}
.ai-buttons .btn-product {
  border-radius: 10px !important;
  width: 247px !important;
  height: 73px !important;
  padding: 13px !important;
}
.dave .ai .ai-buttons {
  margin: 30px 0px !important;
}
.keyboard_input {
  color: black !important;
  border-radius: 7px;
  border: none;
  height: 55px;
  font-size: 22px;
  position: initial;
  width: 90%;
  bottom: 72px;
  left: 146px;
}
.dave .ai .ai-info3,
.dave_ .ai .ai-info3 {
  font-family: "Rubik";
  color: #fff;
  font-size: 24px;
  letter-spacing: 0px;
  opacity: 1;
  padding: 1% !important;
  border: 1px solid;
  max-inline-size: fit-content;
  border-radius: 20px;
  margin-top: 1%;
  margin-left: 10px;
  background: #848487;
}
.text_show_avatar{
    width: 25%;
    height: auto;    
    position: absolute;
    right: 3%;
    bottom: 10%;   
    background: rgba(255, 255, 255, 0.418);
    box-shadow: 0px 0px 18px rgba(255, 255, 255, 0.418);
    text-align:center;
    z-index: 999;   
    font-size: 26px;
    font-family: "Rubik";
    font-weight: bold;
}
</style>
