<template>
  <div v-show="visible" class="loading-container">
    <img
      class="loader"
      src="@/assets/svg/Loading.svg"
      alt="Home"
    />
  </div>
</template>

<script>
import events from '@/plugins/DaveAI/events.type';
export default {
  name: "GlobalLoader",
  data() {
    return {
      visible: false
    }
  },
  mounted() {
    const self = this
    this.$bus.$on(events.CONVERSATION, () => {
      self.visible = true
    });

    this.$bus.$on(events.IDLE, () => {
      self.visible = false
    });

  //  this.$bus.$on('loaderStatus', () => {
  //     if (!window.location.href){
  //     self.visible = false
  //     console.log("-----------------------------------------loader off---------------------------")
  //     }
  //   });
  }
};
</script>

<style lang="scss" scoped>
  .loading-container {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 500;

    .loader {
      margin-top: -50%;
      margin-left: -50%;
    }
  }
</style>
