<template>
  <div  class="bg_home">
     <div v-show="visible" class="loading-container">
        <img
          class="loader"
          src="@/assets/svg/Loading.svg"
          alt="Home"
        />
      </div>
    
      <div class="box">
          <h1>Continue with</h1>
          <p>(You have {{totalCartItems}} items in the cart)</p>
          <div style="margin-top: 3%;">
               <button @click="colse()">Same cart</button>
               <button @click="newcart()">New cart</button>
          </div>
      </div>      
  </div>
</template>

<script>
import { createNamespacedHelpers } from 'vuex'
const { mapGetters } = createNamespacedHelpers('app')
import events from '@/plugins/DaveAI/events.type'

export default {
  name: "HomeAction",
  computed: {
    ...mapGetters(['totalCartItems'])
  }, 
  data(){
    return{
      visible:true
    }
  },
  methods:{
      colse(){
        if( this.visible == true){
          return;
        }
        this.$store.dispatch('dave/routehandle',false);
        this.$store.dispatch('app/homeactionstatus',false);
        this.$store.dispatch('dave/showButtonStatus',false);
        this.$router.push('/') 
      },
      newcart(){
        if( this.visible == true){
          return;
        }
        this.$store.dispatch("app/counter", 0);
        this.$bus.$emit(events.SESSION_EXPIRED, {});
        this.$store.dispatch('app/homeactionstatus',false);
        // this.$router.push('/')
      }
  },
  mounted(){
      this.$store.dispatch('dave/showButtonStatus','empty');
      this.$store.dispatch('dave/totalquantity',0)
      const try_saying_ = [
        "Hi Caitlyn, Let's continue on the same cart.",
        "please, start with new cart.",
        "Will have a new cart here."
        ]
      this.$store.dispatch('dave/hints', try_saying_)
      this.$bus.$emit(events.IDLE,{})
      setTimeout(() => {
         this.visible = false;
      }, 5000);
  }
};
</script>

<style>
.bg_home {
    z-index: 1;
    width: 100%;
    height: 100vh;
    position: absolute;
    color: white;
    background: #4D4B4BE3 0% 0% no-repeat padding-box;
    opacity: 1;
    backdrop-filter: blur(25px);
    font-size: 54px;
}
.box{
    position: relative;
    text-align: center;
    top: 525px;
}
.bg_home div p {
    top: 625px;
    left: 303px;
    height: 43px;
    font: normal normal 300 36px/43px Rubik;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    margin: 0px;
}
.bg_home div h1{
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    margin: 0px;
    top: 565px;
    left: 337px;
    font-size: 60px;
}
.bg_home div button {
    top: 709px;
    left: 288px;
    width: 240px;
    height: 87px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 10px;
    opacity: 1;
    color: #F54748;    
    font: normal normal normal 40px/47px Rubik;
    letter-spacing: 0px;
    opacity: 1;
    text-align: center;
    margin-left: 2%;
}
.loading-container {
    position: fixed;
    top: 30%;
    left: 40%;
    z-index: 500;
}
.loader {
    margin-top: -50%;
    margin-left: -50%;
}

</style>
