<template>
  <div class="bg_home_idel">
    <div class="box">
      <h1>Are You Around ?</h1>
      <p>countdown : {{ timeout }}</p>
      <div style="margin-top: 3%">
        <button @click="confirm()">Yes</button>
      </div>
    </div>
  </div>
</template>

<script>
import { createNamespacedHelpers } from "vuex";
const { mapGetters } = createNamespacedHelpers("app");
import events from "@/plugins/DaveAI/events.type";

export default {
  name: "IdelPopup",
  computed: {
    ...mapGetters(["totalCartItems"]),
  },
  data() {
    return {
      timeout: 10,
    };
  },
  methods: {
    confirm() {
      //   this.$store.dispatch('app/homeactionstatus',false);
      this.$store.dispatch("dave/idelpopupStatus", false);
      this.timeout = 0;
      //   this.$router.push('/')
    },
    idelTime() {
      if (this.timeout > 0) {
        setTimeout(() => {
          this.timeout -= 1;
          this.idelTime();
        }, 1000);
      }
    },
  },
  watch: {
    timeout() {
      if (this.timeout == 0 && this.$store.state.dave.idelpopupStatus) {
        this.$store.dispatch("app/homeactionstatus", false);
        this.$store.dispatch('dave/showButtonStatus',false);
        this.$store.dispatch("dave/idelpopupStatus", false);
        this.$store.dispatch("app/productAddonStatus", false);
        if (this.totalCartItems != 0) {
          this.$store.dispatch("app/counter", 0);
          this.$bus.$emit(events.SESSION_EXPIRED, {});
        } else {
          this.$bus.$emit(events.CONVERSATION, {
            event: "__init__",
            value: "__init__",
          });
        }
        if (this.$route.name != "Home") {
          this.$router.push("/");
        }
      }
    },
  },
  mounted() {
    this.idelTime();
    this.$bus.$emit(events.IDLE, {});
  },
};
</script>

<style>
.bg_home_idel {
  z-index: 100;
  width: 100%;
  height: 100vh;
  position: absolute;
  color: white;
  background: #4d4b4be3 0% 0% no-repeat padding-box;
  opacity: 1;
  backdrop-filter: blur(25px);
  font-size: 54px;
}
.box {
  position: relative;
  text-align: center;
  top: 40%;
}
.bg_home_idel div p {
  top: 625px;
  left: 303px;
  height: 43px;
  font: normal normal 300 36px/43px Rubik;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
  margin: 0px;
}
.bg_home_idel div h1 {
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
  margin: 0px;
  top: 565px;
  left: 337px;
  font-size: 60px;
}
.bg_home_idel div button {
  top: 709px;
  left: 288px;
  width: 240px;
  height: 87px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #707070;
  border-radius: 10px;
  opacity: 1;
  color: #f54748;
  font: normal normal normal 40px/47px Rubik;
  letter-spacing: 0px;
  opacity: 1;
  text-align: center;
  margin-left: 2%;
}
</style>
