<template>
  <div class="item col-sm-6" @click="handleCategory">
    <!-- <div class="discount" v-if="filename === '3.png'">
      <b>30% off</b>
    </div> -->
    <div class="price_box">{{price}} $</div>
    <img class="banner" :src="image_url" />
    <div class="title">
      <b>{{ advert_name }}</b>
    </div>
  </div>
</template>

<script>
import events from "@/plugins/DaveAI/events.type";
export default {
  name: "Item",
  props: ["image_url", "advert_name", "advert_id", "product_ids", "product_id","price"],
  methods: {
    handleCategory() {
      // if(this.product_id) {
      //   this.$bus.$emit(events.CONVERSATION, {
      //     value: this.product_ids[0],
      //     event: 'cs_dish'
      //   })

      //   // this.$router.push('/product')
      // }

      if (this.product_ids.length == 1) {
        this.$bus.$emit(events.CONVERSATION, {
          value: this.product_ids[0],
          event: "cs_dish",
        });
        // this.$router.push("/product");
      } else {
        this.$bus.$emit(events.CONVERSATION, {
          value: this.category_id,
          event: "cs_category",
        });

        // this.$router.push("/category");
      }
    },
  },
};
</script>

<style scoped>
.price_box{
  background: white;
  position: absolute;
  font-size: 27px;
  padding: 1% 6% 1% 6%;
  right: 8%;
  bottom: 23%;
  border-radius: 25px;
  color: red;
} 
.title{
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  white-space: nowrap;
}   
</style>