<template>
  <div class="menu-section" v-if="items.length != 0">
    <div class="main">
      <div class="heading">
        <b>{{ heading }}</b>
      </div>
      <div class="line"></div>
    </div>
    <div class="row">
      <div class="col-xs-4"  v-for="(item, index) in items" :key="index">
        <MenuItem v-bind="item" />
      </div>
    </div>
  </div>
</template>

<script>
import MenuItem from "./MenuItem.vue";
export default {
  name: "MenuSection",
  props: ["heading", "items"],
  components: {
    MenuItem,
  },
};
</script>