<template>
  <div class="menu-item" @click="handleClick">
    <div class="price_box" v-if="price">{{price}} {{units}}</div>
    <img class="banner" :src="image" style="height: 268px !important;" />
    <p class="title" style="height: 3em;white-space:break-spaces">{{ title }}</p>
  </div>
</template>

<script>
import events from "@/plugins/DaveAI/events.type";
export default {
  name: "MenuItem",
  props: [
    "image",
    "price",
    "product_id",
    "category_id",
    "sub_title",
    "title",
    "units",
  ],
  methods: {
    handleClick() {
      if (this.product_id) {
        this.$bus.$emit(events.CONVERSATION, {
          event: "cs_dish",
          value: this.product_id,
        });
      } else {
        this.$bus.$emit(events.CONVERSATION, {
          value: this.category_id,
          event: "cs_category",
        });
      }
    },
  },
};
</script>

<style scoped>
.price_box{
  background: white;
  position: absolute;
  font-size: 27px;
  padding: 1% 6% 1% 6%;
  right: 8%;
  bottom: 38%;
  border-radius: 25px;
  color: red;
}    
</style>