<template>
	<div class="page-bg">
		<div class="page">
			<div class="main-layout">
				<img class="image" :src="require(`@/assets/img/${filename}`)" :alt="`${filename}`" >
				<div class="content">
					<div class="info">
						<div class="">
							<b>Trending</b>
						</div>
						<div class="col-xs-offset-3 col-md-offset-3">
							<button class="btn"> <img src="../assets/svg/Menu.svg"><b>Explore Menu</b></button>
						</div>
					</div>
					<div>
						<div class="row">
							<Item filename="2.png" title1="Classic italian spaghetti"/>
							<Item filename="3.png" title1="Chicken tikka masala"/>
						</div>
						<div class="row">
							<Item filename="4.png" title1="Egg salad"/>
							<Item filename="5.png" title1="Spanish seafood"/>
						</div>
						<div class="row">
							<Item filename="2.png" title1="Classic italian spaghetti"/>
							<Item filename="3.png" title1="Chicken tikka masala"/>
						</div>
						<div class="row">
							<Item filename="4.png" title1="Egg salad"/>
							<Item filename="5.png" title1="Spanish seafood"/>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
import Item from '../components/Item.vue'
export default {
	name:'Burger',
	props:['filename'],
	components: {
    Item
  },
}
</script>

<style lang='scss'>
	
</style>