<template>
  <div class="pasta col-sm-6">
    <!-- <img
      class="banner"
      :src="require(`@/assets/img/${filename}`)"
      :alt="`${filename}`"
    /> -->
    <img
      class="banner"
      :src="filename"   
      style="width: 480px;height: 341px;"
    />
    <div style="width: auto;display: block;height: 6vh;float: left;text-align: center;padding: 1%;">
      <div class="pasta-price" style="width: auto;height: 65px;background: red;text-align: center;padding: 10px;border-radius: 12%;"># {{item_number}}</div>
      <div class="pasta-price">{{ price }} {{ units }}</div>
    </div>    
    <div class="pasta-info" style="height: 6vh;padding: 1%;-webkit-box-orient: vertical;-webkit-line-clamp: 3;overflow: hidden;">
      <b style="font-size:29px">{{ title1 }}</b>
    </div>
    <!-- <div class="pasta-info">
      <b style="font-size:29px">{{ title1 }}</b>
    </div>
    <div class="pasta-price">{{ price }} {{ units }}</div> -->
    <div class="cart-button" @click="handleClick(ids)">
      <b>Add to Cart</b>
    </div>
  </div>
</template>

<script>
import events from "@/plugins/DaveAI/events.type";
export default {
  name: "Pasta",
  props: ["filename", "title1", "price", "units","ids","item_number"],
  methods: {
    handleClick(ids) {
      // if (clickedItem === "category_title") {
      //   this.$router.push("/order-detail");
      // }
      this.$bus.$emit(events.CONVERSATION, {
        value: ids,
        event: "cs_dish",
      });
    },
  },
};
</script>

<style lang='scss'>
</style>