<template>
  <div v-show="unity_visible" class="unity_idel">
    <h1>Unity Loading..</h1> 
  </div>
</template>

<script>
import eventTypes from '@/plugins/DaveAI/events.type';
export default {
  name: "UnityIdel",
  data() {
    return {
      unity_visible: false
    }
  },
  mounted() {
    const self = this
    this.$bus.$on('unity_idel', () => {
      self.unity_visible = true
      this.$bus.$emit(eventTypes.CONVERSATION,{
        event:'', 
        value:''
      })      
    });

    this.$bus.$on('unity', () => {
      self.unity_visible = false
      this.$bus.$emit(eventTypes.IDLE,{
        event:'', 
        value:''
      }) 
    });
  }
};
</script>

<style lang="scss" scoped>
.unity_idel {
    position: fixed;
    bottom: -1%;
    width: 100vw;
    height: 583px  !important;
    z-index: 999999999999;
    background: #969696;
    color: black;
    text-align: center;

    h1{
        position: relative;
        top: 35%;
        font-size: 51px;
    }
}
</style>
