<template>
  <div id="app">
    <IdelPopup v-if="idelpopupStatus" />
    <Product v-if="productAddonstatus" />
    <HomeAction v-if="homeactionstatus" />

    <global-loader />
    <UnityIdel/>
    <router-view></router-view>

    <dave dave_asked='Say "Hi Caitlyn" or Tap to speak' />

  </div>
</template>

<script>
import Dave from "./components/Dave.vue";
import GlobalLoader from "./components/GlobalLoader.vue";
import UnityIdel from "./components/UnityIdel.vue";
import HomeAction from "./components/HomeAction.vue";
import IdelPopup from "./components/IdelPopup.vue";
import Product from "@/views/Product.vue";
import events from "@/plugins/DaveAI/events.type";
import { createNamespacedHelpers } from "vuex";
const { mapGetters } = createNamespacedHelpers("app");
const { mapState } = createNamespacedHelpers("dave");

export default {
  name: "App",
  components: { Dave, GlobalLoader, Product, HomeAction, IdelPopup, UnityIdel },
  computed: {
    ...mapGetters({
      productAddonstatus: "productAddonstatus",
      homeactionstatus: "homeactionstatus",
      totalCartItems: "totalCartItems",
      avataridel:"avataridelstatus",    
    }),
    ...mapState({
      idelpopupStatus: "idelpopupStatus",
       listingState: "listingState",
    }),

  },
  onIdle() {
    if(!this.listingState){
      this.$store.dispatch("app/avataridelstatus", false);
    }   

    const element = document.querySelector('.loading-container')
    const displaystatus = element.style.display

    if (
      (this.totalCartItems != 0 && this.$route.name == "Home") ||
      this.$route.name != "Home"
    ) {
      if (this.$route.name != "ScanAndPay" && displaystatus == 'none') {        
        this.$bus.$emit(events.CONVERSATION, {
          event: "cs_idel",
          value: "cs_idel",
        });
        this.$store.dispatch("dave/idelpopupStatus", true);
      }
    }
  },
  onActive() {
    if (this.$route.name != "Home") {
      this.$store.dispatch("app/avataridelstatus", true);
    }
    // this.$store.dispatch("dave/idelpopupStatus", false);
  },
  watch: {
    productAddonstatus() {
      this.$store.dispatch("app/avataridelstatus", true);
    },
  },
  methods: {
    keyDown: function () {
      this.$store.dispatch("app/avataridelstatus", true);
    },
  },
  created: function () {
    window.addEventListener("touchstart", this.keyDown);
  },
};
</script>

<style lang="scss">
@import "./assets/styles/css/bootstrap.css";
</style>
